body{
    background-image: url('../images/bgImg1.jpg');
    color: #fff;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
/*  Header Line On top of the table */
p{
    margin-bottom: 0;
    margin-left: 100px;
    padding: 0;
}
/*To give the round shape to input feilds */
input{
    border-radius: 5px;
}
/* Main SignUp info form*/
#main{
    display: none;
    height: 400px;
    margin-left: 450px;
    width: 400px;
}
/* Shows errors if any occures*/
#error-msg{
    color: #f00;  //red  
    font-size: 25px;
    font-weight: bold;
}
/* Main div containing whole signUp page*/
#header{
    font-size: 20px;
    margin: 40px 0 0 470px;
}
/* Header line's */
#header a{
    color: #000;
}
/* Edit button */
#success a{
    color: #000;
    margin-left: 301px;
}
/* table within form*/
#tbl{
    border: solid 1px #fff ;
    border-radius: 20px;
    width: 500px;

}
/*Submit button*/
#button{
    margin-left: 129px;
}
/* Secondary table shows filled detail of user*/
#success{
    border-radius: 10px;
    border-style: solid;
    font-size: 18px;
    margin-left: 470px;
    width: 425px;
}